.container{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    align-content: center;
}

.addbutton{
    color: #fff!important;
    background-color: #000!important;
    padding-bottom: 10px;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.editbutton{
    color: #fff!important;
    background-color: #000!important;
    padding-bottom: 10px;
    border: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.deletebutton{
    color: #fff!important;
    background-color: red!important;
    padding-bottom: 10px;
    border: none;
    display: inline-block;
    margin: 10px 10px;
    padding: 5px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #000;
}