.wraper{
    display: flex;
    height:100vh;
}

.dashboard{
    flex: 0.85;
    float:right;
    font-family: 'Titillium Web';
    border:1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    height: 100vh;
    width: auto;
    overflow-y: scroll;
}

.progress_graphs{
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 216, 216);
}

.graph_div{
    background-color: white;
    margin: 30px;
    border: 1px solid black ;
}