.header{
    font-family: 'Titillium Web';
    position: relative;
    height: 200px;
    border:1px solid black;
}
.header a {
    display: flex;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.header-container{
    display: flex;
    float: left;
    margin-left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-icon{
    flex: 0.25;
}

.header-title{
    padding-top: 20px;
    flex: 0.75;
}
.header-buttons{
    display: flex;
    float: right;
    margin-right: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

