a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    cursor:pointer;
}
    
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    cursor:pointer;
}

.objective{
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    height: auto;
    background: rgb(87, 87, 255);
}

.krcontainer{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    width: 95%;
}

.krtitle{
    flex: 25%;
    border-right: 1px solid black;
}

.krcontent{
    flex: 75%;
    border-left: 1px solid black;
}

.theader{
    background-color: cadetblue;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    display: flex;
    height: auto;
}

.thcell{
    border: 1px solid black;
    flex: 1;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tbody{
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    display: flex;
    height: 20px;
}

.tcell{
    border: 1px solid black;
    flex: 1;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

